body {
  font-family: "Andale mono", sans-serif;
  font-size: 10.5px;
  line-height: 11px;
  padding: 0 0 40px 0;
}

a,
p {
  white-space: normal;
}

em {
  font-style: italic;
}

a {
  color: #666;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: black;
}

.clear {
  clear: both;
}

/* LAYOUT */

#header {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
}

#wrapper {
  width: 1040px;
  margin-left: 62px;
  overflow: hidden;
}

#left-column {
  width: 180px;
  float: left;
}

#right-column {
  float: right;
  width: 840px;
}

#content {
}


/* CART */

#cart-summarize a {
  background-color: #666;
  color: white;
  text-decoration: none;
}

#cart-summarize a:hover {
  background-color: black;
}

/* MENU */
#menu {
  height: 100%;
  line-height: 14px;
}

#menu > ul > li {
  font-size: 12px;
  text-decoration: none;
  color: black;
  font-weight: bolder;
  margin-bottom: 9px;
}

#menu > ul > li > ul > li {
}

#menu a {
  color: #666;
  text-decoration: none;
}

#menu a:hover {
  color: white;
  background-color: black;
}


#menu #menu-tools li {
  display: inline;
}

#menu #menu-tools img{
  width: 24px;
  height: 24px;
}

#menu #menu-tools {
  width: 83px;
  padding-top: 5px;
}

#menu #menu-tools a:hover {
  background-color: white;
}


/* ITEM */

.item {
  display: inline-block;
  width: 840px;
}

.item .text {
  width: 310px;
  float: left;
}

.item .text h2 {
  font-weight: bold;
  font-size: 12;
  margin-bottom: 5px;
}

.item .text strong {
  font-weight: bold;
}

.item .text h3 {
  margin-top: 10px;
  font-weight: bold;
  font-size: 12px;
}

.item .text p {
  margin-bottom: 1em;
}

.item .images {
  width: 520px;
  float: right;
}

.item .images img {
  margin-bottom: 10px;
  width: 520px;
}

.item .images a:hover {
  background-color: white;
}

.item .images .wp-caption-text {
  margin-top: -10px;
  margin-bottom: 10px;
}

/* Comments */

.item .comments {
  margin-top: 20px;
}

.item .comments h3 {
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.item .comments input[type='text'],
.item .comments textarea {
  border: 1px solid #CCC;
  padding: 5px;
  width: 400px;
}

.item .comments textarea {
  height: 100px;
}

.item .comments input[name='author'] {
  width: 200px;
}

.item .comments p {
  clear: both;
}

.item .comments label {
  margin-top: 10px;
  width: 60px;
}

.item .comments label,
.item .comments input {
  float: left;
}

.item .comments .form-allowed-tags,
.item .comments .comment-notes,
.item .comments #reply-title,
.item .comments #comments h2 {
  display:none;
}

.item .comments .form-submit input{
  margin-top: 10px;
  margin-left: 60px;
  border: 1px solid #CCC;
  padding: 5px;
  width: 400px;
}


.item .comments #comments li {
  padding: 20px;
}

.item .comments #comments h4 {
  font-weight: bold;
  color: #666;
}

.item .comments #comments p {
  margin-top: 5px;
}

/* ATTACHMENT */

.attachment #content .item .description {
  display: none;
}

/* INDEX */

#index .item {
  width: 205px;
  margin-right: 5px;
  margin-bottom: 5px;
  float: left;
}

#index .item img{
  width: 205px;
}

#index h2 {
  padding: 2px;
  text-align: right;
  font-weight: bold;
}

#index .item:hover {
  background-color: #666;
}

#index .item:hover a {
  color: white;
}

/* BUTTONS */

.add-to-cart {
  -moz-box-shadow:inset 0px 1px 8px 0px #f5f5f5;
  -webkit-box-shadow:inset 0px 1px 8px 0px #f5f5f5;
  box-shadow:inset 0px 1px 8px 0px #f5f5f5;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f5f5f5), color-stop(1, #e6e6e6) );
  background:-moz-linear-gradient( center top, #f5f5f5 5%, #e6e6e6 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#e6e6e6');
  background-color:#f5f5f5;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  border:1px solid #ededed;
  display:inline-block;
  color:#858385;
  font-size:13px;
  font-weight:bold;
  padding:3px 6px;
  text-decoration:none;
  text-shadow:1px 1px 0px #f0f0f0;
}.add-to-cart:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e6e6e6), color-stop(1, #f5f5f5) );
  background:-moz-linear-gradient( center top, #e6e6e6 5%, #f5f5f5 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6e6e6', endColorstr='#f5f5f5');
  background-color:#e6e6e6;
}.add-to-cart:active {
  position:relative;
  top:1px;
}

/* This imageless css button was generated by CSSButtonGenerator.com */
